SQLAlchemy~=1.4.34
Werkzeug~=2.1.1
Flask~=2.1.1
flask-login
requests~=2.27.1
bs4~=0.0.1
beautifulsoup4~=4.10.0
WTForms~=3.0.1
googletrans~=3.1.0a0
Pillow~=9.1.0
nltk~=3.7
python-dotenv~=0.20.0
spacy~=3.2.4