<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="..\static\css\style.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light" style="position: fixed; width: 100%">
        <a class="navbar-brand" href="../" id="title_">Yana Voice Assistant</a>
        {% if current_user.is_authenticated %}
            <div class="dropdown" id="username-and-picture">
                <p class="navbar-brand">{{ current_user.username }}</p>
                <img id="user-image" src="{{ current_user.path_to_image }}" alt="user image">
                <div class="dropdown-content">
                    <a href="/settings">Settings</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {% else %}
            <div id="login-and-register-buttons">
                <button class="btn btn-primary" id="register-btn" onclick="redirect('/register')">Register</button>
                <button class="btn btn-primary" id="login-btn" onclick="redirect('/login')">Login</button>
            </div>
        {% endif %}

        <script>
            function redirect(path){
                window.location.href = path;
            }
        </script>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>