{% extends "base.html" %}
{% block content %}
    <br><br><br>
    <h1>Authorization</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username_or_email.label }}<br>
            {{ form.username_or_email(class="form-control") }}<br>
            {% for error in form.username_or_email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
    <a href="">Forgot password?</a>
{% endblock %}